<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>New User</title>
</head>
<body>
<h2>Create User</h2><br>

<form th:method="post" th:action="@{/admin/insert}" th:object="${user}">
    <label for="firstname">Name: </label>
    <input type="text" th:field="*{firstname}" id="firstname"/>
    <div style="color: coral" th:if="${#fields.hasErrors('firstname')}" th:errors="*{firstname}">Name error</div>
    <br><br>

    <label for="lastname">Lastname: </label>
    <input type="text" th:field="*{lastname}" id="lastname"/>
    <div style="color: coral" th:if="${#fields.hasErrors('lastname')}" th:errors="*{lastname}">Lastname error</div>
    <br><br>

    <label for="age">Age: </label>
    <input type="text" th:field="*{age}" id="age"/>
    <div style="color: coral" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br><br>

    <label for="email">Email: </label>
    <input type="text" th:field="*{email}" id="email"/>
    <div style="color: coral" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Email error</div>
    <br><br>

    <label for="password">Password: </label>
    <input type="password" th:field="*{password}" id="password"/>
    <div style="color: coral" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br><br>

    <label for="roles">Role: </label>
    <input type="checkbox" name="roles" id="roles"
           th:each="role : ${roles}"
           th:text="${role.role}"
           th:value="${role.id}"
           th:field="*{roles}"
    />
    <br><br>

    <input type="submit" value="Create"/>
</form>

</body>
</html>