<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>Spring Security Example</title>
</head>
<body>
<form th:object="${user}">

    <h1 th:text="${user.firstname}"></h1>
    <h2>Your personal information:</h2><br>
    <table style="border: thin black;background-color: goldenrod">
        <tr>
            <th> Name</th>
            <th> Lastname</th>
            <th> Age</th>
            <th> Email</th>
        </tr>
        <tr>
            <td th:text="${user.firstname}"></td>
            <td th:text="${user.lastname}"></td>
            <td th:text="${user.age}"></td>
            <td th:text="${user.email}"></td>
        </tr>
    </table>
    <br><br>
    <!--    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.getToken()}"/>-->
</form>
<form method="post" action="/logout">

    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.getToken()}"/>
    <input type="submit" value="logout">

</form>
</body>
</html>